/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,div,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,div{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Construction */

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font: 0.875rem/1.2 Roboto, sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0 auto;
}

h1 a {
    color: #fff;
}

h1 a:hover {
    color: #fff;
}

h2 {
    color: #555;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

hgroup h2 {margin-bottom: 0;}
#pages h2 {color: #aaa;}
#main > h2 {padding: 0.625rem 0.625rem 0;}

h3 {
    color: #09c;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

h4 {
    color: #09c;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

p {margin-bottom: 0.625rem;}
em {font-style: italic;}
strong, th {font-weight: 900;}
.center {text-align: center;}
td, th {padding: 0.3125rem;}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {color: #09c;}

.group:after {
    content: "";
    display: table;
    clear: both;
}

#masthead {
    color: #fff;
    background-color: #09c;
    padding: 0.625rem 0;
}

#site-title a {
    display: block;
    font-size: 2.25rem;
    font-weight: 300;
    max-width: 36.5rem;
    height: 3rem;
    background-image: url( "../images/logo-pn.png" );
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    padding-left: 3.5rem;
    margin: 0 auto;
}

#site-title a span {font-weight: 900;}

#masthead nav {
    display: table;
    clear: both;
    text-align: left;
    margin: 0.625rem auto 0;
}

#masthead nav a {
    float: left;
    color: #fff;
    font-size: 1rem;
    padding: 0 0.625rem;
}

#masthead nav a:first-child {border: none;}
#masthead nav a:hover {color: #fff;}

.link-logo {
    height: 1rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-left: 2.5rem !important;
}

#link-cb {
    background-image: url("../images/logo-cb.svg");
    background-position: 1rem top;
}

#link-gp {
    background-image: url("../images/logo-gp.svg");
    background-position: 1rem top;
}

#link-cb:hover, #link-gp:hover {background-position: 1rem bottom;}

#main {
    width: 100%;
    height: 100%;
}
